<a href="https://colab.research.google.com/github/Hafsasalahudin/Python/blob/main/BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x , y , z = "Apple" , 20 , 10.3
print(x)
print(y)
print(z)

Apple
20
10.3

In [ ]:
def function_name(parameter):
  block of code
  retun
  function call(argument)

In [ ]:
def myfunc():
  print("Hello python")
myfunc()

Hello python

In [ ]:
def myfunc(name):
  print(name)
myfunc("hafsa")

hafsa

In [ ]:
x="Hafsa"
print(x)

Hafsa

In [ ]:
def details(name,userid,country):
  print("Name:",name)
  print("userid:",userid)
  print("country:",country)
details("SALAR",33,"japan")

Name: SALAR
userid: 33
country: japan

In [ ]:
def square (n): #function to find square of a number
    n= n*n
    return n

square (10)

1000

In [ ]:
def even_odd(num):
  """ This function will check whether a number is even or odd"""
  if num % 2==0:
    print ( num, "is even number")
  else:
    print(num,"is odd number")
even_odd(3)
even_odd(4)
print(even_odd.__doc__)

3 is odd number
4 is even number
 This function will check whether a number is even or odd

In [ ]:
def swap(a,b):
    temp=a
    a,b=b,temp
a=10
b=20
print(a,b)
a,b

10 20

(10, 20)

In [ ]:
x=10
y=20
x,y=y,x
print(x,y)

20 10

In [2]:
def factorial(num): # Calculate factorial of a number using recursive function c
 if num <=1 :
  return 1
 else:
   return num * factorial(num-1)
factorial(4)

24

# swmming natural numbers

In [6]:
def add(num):
    if num == 0:
      return 0
    else:
         return num + add(num-1)
add(5)

15

In [7]:
def italian_fery_series(num):
     if num <=1:
      return num
     if num ==2:
      return 1
     else:
      return fibaocci(num-1) + fibaocci(num-2)

nums = int(input("How many fibonacci numbers you want to generate -"))

for i in range(nums):
  print(fibaocci(i))

How many fibonacci numbers you want to generate -10
0
1
1
2
3
5
8
13
21
34